/*defaults*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body,
html {
  height: 100%;
  width: 100%;
}

:root {
  /* colors */
  --darker: #464b5b;
  --darkest--: #242b3e;
  --dark: #9b9da2;

  --light: #ffffff;
  --lighter: #f1ebe3;
  --lighest--: #f8f6f1;

  --yellow-acc: #e2b356;
  --violet-acc: #d7aeff;
  --dark-violet-acc: #543ca6;
  --orange-acc: #ee7c58;
  --skin-acc: #f7e0d9;

  /* font-sizes */
  --title: 2em;
  --sub-title: 1.5em;
  --details: 1em;
  --sub-details: 0.8em;

  /* border-radius */
  --semi: 15px;
  --hard: 30px;
}

body {
  background-color: var(--darkest--);
}

/* parent container */
/*init layout*/
.whole-page-container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
  gap: 1em;
  padding: 2em;
}

/* header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: var(--semi);
  color: var(--lighest--);
}

header .page-title {
  font-size: var(--title);
  font-weight: 600;
}

header i.search {
  background-color: var(--darker);
  padding: 0.3em;
  border-radius: var(--semi);
}

/* nav */
nav,
nav a {
  display: flex;
  gap: 2em;
  text-decoration: none;
  color: var(--lighest--);
  padding: 1em;
}

nav a {
  align-items: center;
}

nav {
  flex-direction: column;
}

nav>*:nth-child(2) {
  /* for selected content */
  background-color: var(--darker);
  border-radius: var(--semi);
}

nav p.user-fullname {
  font-size: var(--details);
  font-weight: 400;
  margin: 0 auto 2em auto;
}

nav p {
  font-size: var(--sub-details);
}

/* contents */
/* contents 2 sections */
section.contents,
.contents>section {
  display: flex;
  flex-flow: column nowrap;
  gap: 1em;
  overflow: hidden;
}

section.task-graph,
section.task-completed,
section.projects-container,
section.deadlines-container {
  border-radius: var(--semi);
  color: var(--darkest----);
  padding: 3em;
}

/* no of task per day graph  */
section.task-graph {
  background-color: var(--skin-acc);
  padding: 1em;
}

.task-graph p.task-graph-label {
  font-size: var(--sub-title);
  font-weight: 600;
}

.task-graph canvas {
  max-height: 10em;
}

/* task completed container */
section.task-completed {
  background-color: var(--yellow-acc);
  max-width: 100%;
}

.task-completed .task-completed-label {
  font-weight: 600;
  font-size: var(--sub-title);
  margin-bottom: 1em;
}

.task-completed div.task-completed {
  margin: 0 auto;
  display: grid;
  place-items: center;
  width: 150px;
  height: 150px;
  word-wrap: break-word;

  background-color: var(--dark-violet-acc);
  border: 10px solid var(--lighter);
  border-radius: 50%;
}

.task-completed>div p {
  font-size: var(--sub-title);
  font-weight: 400;
  color: var(--lighest--);
}

/* deadlines container */
section.deadlines-container {
  background-color: var(--violet-acc);
}

.deadlines-container div.scrolling-container {
  display: flex;
  flex-flow: column nowrap;
  gap: 1em;
  max-height: 200px;

  white-space: nowrap;
  overflow-y: auto;
  padding: 2em;
}

.deadlines-container p.deadlines-container-label {
  font-size: var(--sub-title);
  font-weight: 600;
  margin-bottom: 1em;
}

/* individual deadlines */
section.deadline-task {
  display: flex;
  align-items: center;
  gap: 1em;
}

/* custom checkbox */
.round-checkbox {
  width: 14px;
  height: 14px;
  background-color: #fff;
  border-radius: 5px;
  appearance: none;
  -webkit-appearance: none;
}

.round-checkbox:checked {
  background-color: var(--darkest--);
}

/* projects container */
section.projects-container {
  background-color: var(--lighter);
}

.projects-container p.projects-container-label {
  font-weight: 600;
  font-size: var(--sub-title);
  margin-bottom: 1em;
}

.projects-container div.scrolling-container {
  display: flex;
  flex-flow: row nowrap;
  gap: 1em;

  overflow-x: auto;
  white-space: nowrap;
  padding: 2em;
}

/* individual projects */
section.project {
  position: relative;
  border-radius: var(--semi);
  background-color: var(--light);
  padding: 1em 2.5em 1em 1em;
}

section p.project-title {
  margin: 1em 0 0.5em 0;
  font-size: var(--details);
  font-weight: 600;
}

section p.project-progress-label {
  font-size: var(--sub-details);
  font-weight: 300;
}

section p.project-progress {
  font-size: var(--sub-title);
  font-weight: 600;
}

section p.project-priority-level {
  position: absolute;
  top: -1em;
  left: 1em;

  border-radius: var(--hard);
  background-color: var(--orange-acc);
  color: var(--lighest--);

  font-size: var(--sub-details);
  font-weight: 300;

  padding: 0.5em 1em;
}

/* adjustments for screens */
/* very small screens */
/* @media screen and (max-width: 295px) {
  .whole-page-container {
    padding: 0.5em;
    gap: 0.5em;
  }
} */

/* tablets */
/* @media screen and (min-width: 768px) {
  body {
    overflow: hidden;
  }

  .whole-page-container {
    grid-template-columns: 300px auto;
    grid-template-rows: auto auto;
    gap: 3em 1em;
    overflow: hidden;
  }

  .contents>section {
    overflow: visible;
  }

  header {
    grid-area: 1/2/2/3;
  }

  nav {
    grid-area: 2/1/3/2;
  }

  section.contents {
    grid-area: 2/2/3/3;
    max-height: 700px;
    overflow-y: auto;
    padding: 1em;
  }

  section.task-graph {
    padding: 3em;
  }

  .task-graph p.task-graph-label {
    margin-bottom: 0.5em;
  }

} */

/* desktops */
/* @media screen and (min-width: 1024px) {
  .whole-page-container {
    margin: 0 auto;
    max-width: 1440px;
  } */

/* 2 sections inside contents */
/* section.contents>section {
    flex-direction: row;
  } */

/* project and deadlines */
/* section.projects-container {
    flex: 6;
    overflow-x: auto;
  }

  section.deadlines-container {
    flex: 3;
  } */

/* graph and task completed */
/* section.task-completed {
    flex: 2;
  }

  section.task-graph {
    flex: 3;
  }

} */

/* @media only screen and (max-width:1024px) and (max-height:600px) and (orientation:landscape) {
  body {
    overflow-y: visible;
  }
} */

/* for testing purposes only */
.hide {
  display: none;
}

/* 
TODO : responsivenessssssssssss!!!!!!!!!!
TODO: projects and tasks layout

NOTE : 
for better project file strutcture
use includes for the same nav and header
make 1 page per main functions (dashboard, proj, task. acc)
and 1 css file per main functions
and 1 js file per main functions
convert html files into php

make 1 css file for responsiveness adjustments

*/